spring.application.name=expense-tracker
spring.datasource.url=jdbc:mysql://localhost:3306/expense_tracker_db
spring.datasource.username=root
spring.datasource.password=YOUR_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
groq.api.key=YOUR_GROQ_KEY_HERE
groq.api.url=https://api.groq.com/openai/v1/chat/completions
groq.model=openai/gpt-oss-120b
server.port=8080