spring.application.name=expense-tracker
spring.data.mongodb.uri=mongodb+srv://<USERNAME>:<PASSWORD>@expense-tracker-cluster.xxxxx.mongodb.net/expense_tracker_db
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
groq.api.key=YOUR_GROQ_KEY_HERE
groq.api.url=https://api.groq.com/openai/v1/chat/completions
groq.model=openai/gpt-oss-120b
server.port=8080